<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<body>
  <header>
    <nav id="navigation">
      <ul>
        <li><a href="#">Link 1</a></li>
        <li><a class="active" href="#">Link 2</a></li>
        <li><a href="#">Link 3</a></li>
        <li><a href="#">Link 4</a></li>
      </ul>
    </nav>
  </header>

  <main>
    <form action="post">
      <fieldset>
        <label for="first">
          <input id="first" type="text" name="first" placeholder="First Name">
        </label>
        <br>
        <label for="last">
          <input id="last" type="text" name="last" placeholder="Last Name">
        </label>
      </fieldset>
    </form>
  </main>

  <footer>
    <p>
      Well ok then!
      Will this work?

      Let's find out!
    </p>
  </footer>
</body>
</html>
